@font-face {
	font-family: 'neoM';
	src: url('./font/AppleSDGothicNeoM.ttf');
}

@font-face {
	font-family: 'neoB';
	src: url('./font/AppleSDGothicNeoB.ttf');
}

@font-face {
	font-family: 'neoEB';
	src: url('./font/AppleSDGothicNeoEB.ttf');
}

@font-face {
	font-family: 'neoH';
	src: url('./font/AppleSDGothicNeoH.ttf');
}


@font-face {
	font-family: 'neoL';
	src: url('./font/AppleSDGothicNeoL.ttf');
}

@font-face {
	font-family: 'neoM';
	src: url('./font/AppleSDGothicNeoM.ttf');
}


@font-face {
	font-family: 'neoR';
	src: url('./font/AppleSDGothicNeoR.ttf');
}

@font-face {
	font-family: 'neoSB';
	src: url('./font/AppleSDGothicNeoSB.ttf');
}

