@font-face {
	font-family: 'neoM';
	src: url('./fonts/AppleSDGothicNeoM.ttf');
}

@font-face {
	font-family: 'neoB';
	src: url('./fonts/AppleSDGothicNeoB.ttf');
}

@font-face {
	font-family: 'neoEB';
	src: url('./fonts/AppleSDGothicNeoEB.ttf');
}

@font-face {
	font-family: 'neoH';
	src: url('./fonts/AppleSDGothicNeoH.ttf');
}


@font-face {
	font-family: 'neoL';
	src: url('./fonts/AppleSDGothicNeoL.ttf');
}

@font-face {
	font-family: 'neoM';
	src: url('./fonts/AppleSDGothicNeoM.ttf');
}


@font-face {
	font-family: 'neoR';
	src: url('./fonts/AppleSDGothicNeoR.ttf');
}

@font-face {
	font-family: 'neoSB';
	src: url('./fonts/AppleSDGothicNeoSB.ttf');
}

